GATSBY_SANITY_PROJECT_ID="ht34lgnn"
GATSBY_SANITY_DATASET="production"

# Rename this file to .env.development for local development.
# Note: After renaming – DO NOT commit this file to git!
SANITY_READ_TOKEN="skUFOpUCkfX6l01Tmkfli0FvLS7rPCznuJLlxZmuVP4Ox0KHyRTA3sXS6r3XQcG2vVOHFY4KqQidKyEM6XweLIbvImeiCCqHkqkBowHNBpEUlPMJ1xmSxx7jNvCD09I7fJncHeniqvgajwCDELkMJD552Mn2jBZcBkBx3JWJboPBlIA5a985"

